.App {
  text-align: center;
}

.eachRow
{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.eachRow p
{
  width: 25%;
  font-size: 1.4vw;
  font-weight: bolder;
}

.fetchDatabtn
{
  font-size: 1.5vw;
  padding: 1% 0%;
  width: 30%;
  margin: auto;
  border: none;
  background-color: rgb(77, 156, 220);
  color: white;
  border-radius: 4px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
